<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.gwtplugins.gdt.eclipse.suite.webapp">
    <stringAttribute key="com.gwtplugins.gdt.eclipse.suiteMainTypeProcessor.PREVIOUSLY_SET_MAIN_TYPE_NAME" value="com.google.gwt.dev.DevMode"/>
    <booleanAttribute key="com.gwtplugins.gdt.eclipse.suiteWarArgumentProcessor.IS_WAR_FROM_PROJECT_PROPERTIES" value="true"/>
    <listAttribute key="com.gwtplugins.gwt.eclipse.core.ENTRY_POINT_MODULES">
        <listEntry value="lms.Leavesystem"/>
    </listAttribute>
    <booleanAttribute key="com.gwtplugins.gwt.eclipse.core.SUPERDEVMODE_ENABLED" value="true"/>
    <stringAttribute key="com.gwtplugins.gwt.eclipse.core.URL" value="Leavesystem.html"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/leavesystem"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.gwtplugins.gdt.eclipse.maven.mavenClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.google.gwt.dev.DevMode"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="leavesystem"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-remoteUI &quot;${gwt_remote_ui_server_port}:${unique_id}&quot; -startupUrl Leavesystem.html -logLevel INFO -codeServerPort 9997 -port 8888 -war E:\asensenirmal\experiment2\craftymen\leavesystem\war lms.Leavesystem"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="leavesystem"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx1g"/>
</launchConfiguration>
