<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:simple="http://cxf.apache.org/simple" xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://cxf.apache.org/simple http://cxf.apache.org/schemas/simple.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
       
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
    	<property name="driverClassName" value="org.postgresql.Driver" />
    	<property name="url" value="jdbc:postgresql://localhost:5432/leavesystem" />
    	<property name="username" value="nirmalganesh11" />
   		<property name="password" value="celkonganesh" />

    	<!-- Connection Pool Settings -->
    	<property name="initialSize" value="5" />
    	<property name="maxTotal" value="20" />
    	<property name="maxIdle" value="10" />
    	<property name="minIdle" value="5" />
    	<property name="validationQuery" value="SELECT 1" />
    	<property name="testOnBorrow" value="true" />
	</bean>
    
    

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="packagesToScan" value="lms.shared" /> 
		<property name="mappingResources">
			<list>
				<value>User.hbm.xml</value>
				<value>Role.hbm.xml</value>
				<value>Permission.hbm.xml</value>
				<value>company.hbm.xml</value>
				<value>department.hbm.xml</value>
				<value>employee.hbm.xml</value>
				<value>Holiday.hbm.xml</value>
				<value>LeaveType.hbm.xml</value>
				<value>LeaveRequest.hbm.xml</value>
			</list>
	</property>
		
	<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property> 
	</bean>
		
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
       
   	<bean id="userDao" class="lms.server.daopack.UserDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="companyDao" class="lms.server.daopack.CompanyDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="departmentDao" class="lms.server.daopack.DepartmentDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="employeeDao" class="lms.server.daopack.EmployeeDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="roleDao" class="lms.server.daopack.RoleDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="permissionDao" class="lms.server.daopack.PermissionDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	<bean id="holidayDao" class="lms.server.daopack.HolidayDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="leaveTypeDao" class="lms.server.daopack.LeaveTypeDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
	<bean id="leaveRequestDao" class="lms.server.daopack.LeaveRequestDao">
		  <constructor-arg ref="sessionFactory" />
	</bean>
	
  </beans>
        